.calculator {
    width: 300px;
  height: 400px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  }
  
  .display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
   
    
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    flex: 0 0 calc(25% - 10px);
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  .clearButton {
    background-color: #ff6347;
    color: white;
  }
  
  .clearButton:hover {
    background-color: #cc4637;
  }